<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    
   <nav class="uk-navbar-container" uk-navbar>

      <div class="uk-navbar-left">
  
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/">GALLERIA</a></li>
              <li>
                  <a href="#">CATEGORIES</a>
                  <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-active"><a href="#">Sports</a></li>
                          <li><a href="#">People</a></li>
                          <li><a href="#">Transport</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="#">LOCATION</a>
              <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">neworleans</a></li>
                        <li><a href="#">newyork</a></li>
                        <li><a href="#">kasabull</a></li>
                        <li><a href="#">kisumu</a></li>
                    </ul>
                </div>
            </li>
          </ul>
  
      </div>
  
      <div class="uk-navbar-right">
          <div class="uk-navbar-item">
          
              <form role="search" action="{% url 'search_results' %}">
                  <input class="uk-input uk-form-width-small" type="text" placeholder="search category" name="image">
                  <button class="uk-button uk-button-default">SUBMIT</button>
              </form>
              <form role="searchloc" action="{% url 'search_location' %}">
                    <input class="uk-input uk-form-width-small" type="text" placeholder="search location" name="image">
                    <button class="uk-button uk-button-default">SUBMIT</button>
                </form>
          </div>
   
    
  
      </div>
  
  </nav>
  
</html>