<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
       
   <nav class="uk-navbar-container" style="background-color: #7a7aff;" uk-navbar>
        <button style="background-color: #ffffff; border-radius: 12px;border: 2px solid #7a7aff;">
            <a style="font-family: 'festive', cursive; font-size: 20px;">PHOTOGALLERYA</a>
        </button>
       
          <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/" , style= "color: #ffffff;">HOME</a></li>
              <li>
                  <a href="#" , style= "color: white;">CATEGORIES</a>
                  <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-active"><a href="#" , style= "color: #7a7aff;">ATHLETICS</a></li>
                          <li><a href="#" , style= "color: #7a7aff;">SOCIETY</a></li>
                          <li><a href="#" , style= "color: #7a7aff;">WORLD</a></li>
                          <li><a href="#" , style= "color: #7a7aff;">TECHNOLOGY</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="#", style= "color: white;">LOCATION</a>
              <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#", style= "color: #7a7aff;">AFRICA</a></li>
                        <li><a href="#" , style= "color: #7a7aff;">EUROPE</a></li>
                        <li><a href="#" , style= "color: #7a7aff;">ASIA</a></li>
                        <li><a href="#" , style= "color: #7a7aff;">FAR EAST</a></li>
                        <li><a href="#" , style= "color: #7a7aff;">SPACE</a></li>
                    </ul>
                </div>
            </li>
          </ul>
  
      </div>
  
      <div class="uk-navbar-center">
          <div class="uk-navbar-item">
          
              <form role="search" action="{% url 'search_results' %}">
                  <input class="uk-input uk-form-width-medium" type="text" placeholder="Type Category....." name="image" style="border-radius: 12px">
                  <button class="uk-button uk-button-default" , style= "color: #ffffff;border-radius: 12px">SEARCH</button>
              </form>
              <form role="searchloc" action="{% url 'search_location' %}">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Type Location......" name="image" style="border-radius: 12px">
                    <button class="uk-button uk-button-default" , style= "color: #ffffff; border-radius: 12px">SEARCH</button>
                </form>
          </div>
   
    
  
      </div>
  
  </nav>
  
</html>