{% extends 'base.html' %}
{% block content %}
{{block.super}}

{% for picture in pictures %}
<div class="uk-child-width-1-4@m ">
    <div class="uk-flex uk-float-right  uk-margin-small-left uk-margin-medium-top uk-margin-large-right">
           
                 
            <div>
                    <div class="uk-card uk-card-default uk-card uk-card-hover">
                        <div class="uk-card-media-top">
                                <div class="uk-animation-toggle">
                                        <div class="uk-card uk-card-default uk-card-body uk-animation-fade uk-animation-reverse">
                                {% if picture.image %}
                            <img src="{{picture.image.url}}" alt="image ">
                            {% endif %}
                        </div>
                    </div>
                </div>
                        <div class="uk-card-footer">
                                <a href="{%url 'image' picture.id%}" class="uk-button uk-button-text">EXPLORE</a>
                            </div>    
                    </div>
                   
                </div>
            </div>
    
</div>
{% endfor %}
{% endblock %}